.btn, .btn-big {
  font-family: "Lato", sans-serif;
  font-size: 1.11rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  border: none;
  background: none;
  cursor: pointer;
}

.btn-big {
  padding: 33px 89px;
  border: 1px solid;
  min-width: 300px;
}

@keyframes moveIcon {
  0%, 50%, 100% {
    transform: rotate(0) translateX(0);
  }
  25% {
    transform: rotate(25deg) translateX(-20px);
  }
  75% {
    transform: rotate(-25deg) translateX(20px);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img,
video {
  max-width: 100%;
  height: auto;
}

html,
body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #262A3F;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .flex-container {
    flex-wrap: wrap;
  }
}

.bg {
  padding-top: 30px;
  padding-bottom: 430px;
  background: url(../assets/img/bg.webp) center/cover no-repeat;
}
@media screen and (max-width: 992px) {
  .bg {
    background: url(../assets/img/bg_tab.webp) center/cover no-repeat;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 576px) {
  .bg {
    background: url(../assets/img/bg_mob.webp) center/cover no-repeat;
    padding-bottom: 100px;
  }
}

.header {
  background-color: rgba(255, 255, 255, 0.0196078431);
  backdrop-filter: blur(5px);
  padding: 24px 0;
  width: 100%;
  overflow-x: hidden;
}

.nav {
  flex-grow: 1;
}
@media screen and (max-width: 768px) {
  .nav {
    order: 2;
    flex-grow: 0;
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.08vw;
}
@media screen and (max-width: 768px) {
  .menu {
    position: fixed;
    right: -100%;
    top: 65px;
    opacity: 0;
    flex-direction: column;
    background-color: #e4e4e4;
    padding: 0 0;
    transition: all 0.5s;
    width: 100%;
    gap: 0;
  }
}
@media screen and (max-width: 768px) {
  .menu__item {
    padding: 20px 0;
    border-bottom: 1px solid #fff;
    width: 100%;
    text-align: center;
  }
}
.menu__link {
  color: #262A3F;
  font-size: 0.78rem;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.08em;
  position: relative;
}
.menu__link::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  height: 3px;
  width: 0;
  background-color: rgba(241, 137, 123, 0.3019607843);
  transition: all 0.4s;
  opacity: 0;
}
.menu__link:hover::after {
  opacity: 1;
  width: 100%;
}
.menu__link:hover .menu__icon {
  transform: scale(1.2);
}
.menu__icon {
  margin-left: 20px;
  width: 24px;
  height: 24px;
  color: #262A3F;
  animation: moveIcon 0.8s ease-in-out 3;
}

.burger {
  display: none;
}
@media screen and (max-width: 768px) {
  .burger:checked ~ .menu {
    opacity: 1;
    right: 0;
  }
  .burger:checked ~ .burger__img {
    transform: rotate(587deg);
    transition: all 0.4s;
  }
  .burger:checked ~ .burger__img::before {
    opacity: 0;
  }
  .burger:checked ~ .burger__img::after {
    top: 0;
    transform: rotate(90deg);
  }
}
.burger__img {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .burger__img {
    display: inline-block;
    position: relative;
    top: -3px;
    width: 34px;
    height: 2px;
    background-color: #292729;
  }
  .burger__img::before, .burger__img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #292729;
    top: 10px;
  }
  .burger__img::after {
    top: -10px;
  }
}

.title {
  font-family: "Playfair", serif;
}
.title_1 {
  font-size: 2.44rem;
  line-height: 1.18;
  font-weight: 400;
}
.title_2 {
  font-size: 3.78rem;
  line-height: 1.06;
  font-weight: 400;
}
@media screen and (max-width: 576px) {
  .title_2 {
    font-size: 2rem;
  }
}
.title_3 {
  font-size: 2.22rem;
  line-height: 1.2;
  font-weight: 400;
}
.title_4 {
  font-size: 1.33rem;
  line-height: 2;
  font-weight: 400;
}

.italic {
  font-style: italic;
  color: #85bbb1;
}

.hero {
  margin-top: 150px;
}
.hero__content {
  max-width: 525px;
}
.hero__text {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 1rem;
  line-height: 1.44;
  font-weight: 300;
}

.btn {
  color: #F1897B;
  position: relative;
}
.btn::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: -4px;
  width: 98%;
  height: 13px;
  background-color: rgba(241, 137, 123, 0.3019607843);
}
.btn:hover {
  color: #E54F3A;
}
.btn:hover .btn::after {
  background-color: rgba(229, 79, 58, 0.3019607843);
}

.btn-big {
  color: #F1897B;
  border-color: #e4e4e4;
  position: relative;
}
.btn-big::after {
  content: "";
  position: absolute;
  left: 99px;
  bottom: 30px;
  width: 37%;
  height: 13px;
  background-color: rgba(241, 137, 123, 0.3019607843);
}
.btn-big:hover {
  color: #E54F3A;
  border-color: #E54F3A;
}
.btn-big:hover .btn::after {
  background-color: rgba(229, 79, 58, 0.3019607843);
}

.statistic {
  position: relative;
}
@media screen and (max-width: 992px) {
  .statistic {
    position: static;
  }
}
.statistic__container {
  background: url(../assets/img/buildings_img.webp) left top/contain no-repeat;
  padding: 45px 0 45px 400px;
  position: absolute;
  top: -280px;
  left: calc((100vw - 1200px) / 2);
  width: 100%;
  height: 670px;
}
@media screen and (max-width: 992px) {
  .statistic__container {
    background: url(../assets/img/buildings_img_tab.webp) center/contain no-repeat;
    position: static;
    padding: 30px 0 0 0;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  .statistic__container {
    background: url(../assets/img/buildings_img_mob.webp) center/contain no-repeat;
  }
}
.statistic__box {
  font-size: 1rem;
  line-height: 1.44;
  font-weight: 300;
  padding: 45px 0;
  background-color: rgba(255, 255, 255, 0.9019607843);
  max-width: 770px;
}
@media screen and (max-width: 992px) {
  .statistic__box {
    padding: 0;
  }
}
.statistic__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  padding: 0 56px;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .statistic__list {
    gap: 40px;
    padding: 0 32px;
  }
}
@media screen and (max-width: 576px) {
  .statistic__list {
    gap: 20px;
    padding: 0 15px;
  }
}
.statistic__list__item {
  position: relative;
}
.statistic__list__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  background-color: #85bbb1;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}
.statistic__list__text {
  margin-top: 12px;
  opacity: 80%;
}
.statistic__descr {
  max-width: 400px;
  align-self: flex-start;
}
@media screen and (max-width: 576px) {
  .statistic__descr {
    align-self: center;
  }
}
.statistic__text:not(:last-child) {
  margin-bottom: 35px;
}
.statistic__btn {
  margin-top: 50px;
}

.flex-statistic {
  flex-wrap: wrap;
}
@media screen and (max-width: 576px) {
  .flex-statistic {
    flex-direction: column;
    gap: 10px;
  }
}

.section {
  margin-top: 120px;
}
@media screen and (max-width: 992px) {
  .section {
    margin-top: 80px;
  }
}
@media screen and (max-width: 576px) {
  .section {
    margin-top: 40px;
  }
}

.benefits {
  padding-top: 509px;
}
@media screen and (max-width: 992px) {
  .benefits {
    padding-top: 150px;
  }
}
.benefits__item {
  padding: 0 35px;
  height: 250px;
  position: relative;
}
.benefits__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: -30px;
  left: 0;
  background-color: #e4e4e4;
}
.benefits__title {
  margin-top: 20px;
}
.benefits__text {
  font-size: 1rem;
  line-height: 1.44;
  font-weight: 300;
  opacity: 80%;
  margin-top: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 90px;
  column-gap: 30px;
}
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 30px;
  }
}

.quote__bg {
  background: url(../assets/img/quote_bg.webp) center/cover no-repeat;
  width: 100%;
  height: 400px;
  padding-left: 160px;
  position: relative;
}
@media screen and (max-width: 992px) {
  .quote__bg {
    background: url(../assets/img/quote_bg_tab.webp) center/cover no-repeat;
    padding-left: 50px;
  }
}
@media screen and (max-width: 576px) {
  .quote__bg {
    background: url(../assets/img/quote_bg_mob.webp) center/cover no-repeat;
    padding-left: 30px;
  }
}
.quote__content {
  max-width: 710px;
  color: #fff;
}
.quote__title {
  font-family: "Lato", sans-serif;
  font-size: 1.78rem;
  line-height: 1.44;
  font-weight: 400;
  letter-spacing: 0.04em;
}
.quote__title::before {
  content: url(../assets/img/quote_light.svg);
  width: 102px;
  height: 84px;
  position: absolute;
  top: 70px;
  left: 100px;
}
@media screen and (max-width: 992px) {
  .quote__title::before {
    left: 50px;
  }
}
.quote__text {
  margin-top: 40px;
  font-family: "Playfair", serif;
  font-size: 1.1rem;
  line-height: 1;
  font-weight: 300;
  font-style: italic;
}

.video__container {
  padding: 0 100px;
}
@media screen and (max-width: 992px) {
  .video__container {
    width: 80%;
    height: auto;
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .video__container {
    padding: 0;
  }
}
.video__screen {
  width: 970px;
  height: 601px;
  margin-bottom: 50px;
  border-radius: 32px;
}
@media screen and (max-width: 992px) {
  .video__screen {
    width: 570px;
    height: 354px;
    border-radius: 8px;
  }
}
@media screen and (max-width: 576px) {
  .video__screen {
    width: 300px;
    height: 186px;
  }
}
.video__descr {
  font-size: 1rem;
  line-height: 1.44;
  font-weight: 300;
  opacity: 80%;
  margin-top: 20px;
}

.promises__container {
  background: url(../assets/img/features_bg.webp) left top/contain no-repeat;
  padding: 45px 0 45px 400px;
  width: 100%;
  height: 540px;
}
@media screen and (max-width: 992px) {
  .promises__container {
    background: url(../assets/img/features_bg_tab.webp) center/contain no-repeat;
    padding: 30px 0 0 0;
    height: auto;
  }
}
.promises__box {
  font-size: 1rem;
  line-height: 1.44;
  font-weight: 300;
  padding: 75px 0 75px 70px;
  background-color: rgba(255, 255, 255, 0.9019607843);
  max-width: 770px;
}
@media screen and (max-width: 992px) {
  .promises__box {
    padding: 0;
    margin: 0 auto;
  }
}
.promises__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 70px;
  column-gap: 100px;
}
@media screen and (max-width: 768px) {
  .promises__grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 30px;
  }
}
.promises__item {
  width: 300px;
  height: 115px;
}
@media screen and (max-width: 768px) {
  .promises__item {
    text-align: center;
    width: 100%;
  }
}
.promises__text {
  margin-top: 15px;
  font-size: 1rem;
  line-height: 1.44;
  font-weight: 300;
  opacity: 80%;
}

.flex-reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 992px) {
  .flex-reviews {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.reviews__descr {
  margin-top: 20px;
  font-size: 1rem;
  line-height: 1.44;
  font-weight: 300;
  opacity: 80%;
  margin-bottom: 50px;
}
.reviews__card {
  padding: 30px 40px;
  height: 340px;
  width: 370px;
  color: #fff;
}
.reviews__card_1 {
  background: url(../assets/img/review_1_bg.webp) center/cover no-repeat;
}
.reviews__card_2 {
  background: url(../assets/img/review_2_bg.webp) center/cover no-repeat;
}
.reviews__card_3 {
  background: url(../assets/img/review_3_bg.webp) center/cover no-repeat;
}
.reviews__text {
  font-size: 1rem;
  line-height: 1.44;
  font-weight: 300;
}
.reviews__author {
  font-family: "Playfair", serif;
  font-size: 1.1rem;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.08em;
  font-style: italic;
}

.flex-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}

.contact {
  margin-top: 100px;
}
.contact__container {
  padding-top: 60px;
  padding-bottom: 100px;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}
.contact__title {
  margin-top: 20px;
  margin-bottom: 30px;
}
.contact__text {
  font-size: 1rem;
  line-height: 1.44;
  font-weight: 300;
  opacity: 80%;
}

.flex-contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 230px;
}
@media screen and (max-width: 768px) {
  .flex-contact {
    flex-wrap: wrap;
    gap: 50px;
  }
}

.label {
  font-family: "Playfair", serif;
  font-size: 1rem;
  line-height: 1.1;
  font-weight: 300;
  letter-spacing: 0.08em;
  font-style: italic;
  opacity: 50%;
  cursor: pointer;
}

.form {
  flex-grow: 1;
}

.row {
  margin-bottom: 40px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(38, 42, 63, 0.1019607843);
}

input {
  border: none;
}

input:focus-visible {
  outline: none;
}

.footer {
  padding: 30px 0;
}
.footer__text {
  font-size: 0.78rem;
  line-height: 1.86;
  font-weight: 300;
  opacity: 60%;
}
.footer__links {
  display: flex;
  gap: 32px;
}
.footer__link {
  font-size: 0.78rem;
  line-height: 1.71;
  font-weight: 400;
  color: #262A3F;
}
.footer__link:hover {
  color: rgb(32.2435643564, 35.6376237624, 53.4564356436);
  font-weight: 700;
}

.author {
  display: flex;
  gap: 12px;
}

@media screen and (max-width: 576px) {
  .flex-footer {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */