@use "vars" as v;
@use "mixins" as m;

%btn {
  font-family: v.$lato-font-family;
  @include m.font(1.11rem, 1, 700);
  letter-spacing: 0.08em;
  text-transform: uppercase;
  border: none; 
  background: none;
  cursor: pointer;
}

%btn-big {
  padding: 33px 89px;
  border: 1px solid;
  min-width: 300px;
}
