@keyframes moveIcon {
    0%,
    50%, 100% {
        transform: rotate(0) translateX(0);
    }

    25% {
        transform: rotate(25deg) translateX(-20px);
    }

    75% {
        transform: rotate(-25deg) translateX(20px);
    }
}