    $lato-font-family: "Lato", sans-serif;
    $playfair-font-family: "Playfair", serif;
    $main-font-size: 18px;
    $main-font-color:  #262A3F;

    $bg-light: #FFF;
    $bg-dark:  #161926;

    $btn-green: #53F3CD;
    $btn-green-dark: #02E0AB;
    $btn-coral: #F1897B;
    $btn-coral-dark: #E54F3A;

    
    $container-width: 1200px;

   